In [1]:
# !pip install kafka-python

In [2]:
import pandas as pd
from kafka import KafkaProducer, KafkaConsumer
from time import sleep
from json import dumps
import json
import time

In [3]:
producer = KafkaProducer(bootstrap_servers=['18.234.40.54:9092'],
                         value_serializer = lambda x:dumps(x).encode('utf-8'))

In [4]:
producer.send('stock_market_data', 
              value = "This data is coming from code file")

In [5]:
stock_df = pd.read_csv("indexProcessed.csv")

In [6]:
stock_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
stock_df.shape

(104224, 9)

In [8]:
stock_df.sample(1).to_dict()

{'Index': {83534: 'GDAXI'},
 'Date': {83534: '2002-06-21'},
 'Open': {83534: 4244.240234},
 'High': {83534: 4312.120117},
 'Low': {83534: 4153.310059},
 'Close': {83534: 4232.399902},
 'Adj Close': {83534: 4232.399902},
 'Volume': {83534: 300672400.0},
 'CloseUSD': {83534: 5163.52788044}}

In [9]:
stock_df.sample(5).to_dict(orient = "records")

[{'Index': 'HSI',
  'Date': '2013-01-07',
  'Open': 23345.19922,
  'High': 23402.44922,
  'Low': 23254.23047,
  'Close': 23329.75,
  'Adj Close': 23329.75,
  'Volume': 1401515000.0,
  'CloseUSD': 3032.8675000000003},
 {'Index': 'IXIC',
  'Date': '2005-02-09',
  'Open': 2088.52002,
  'High': 2089.379883,
  'Low': 2051.0,
  'Close': 2052.550049,
  'Adj Close': 2052.550049,
  'Volume': 1958810000.0,
  'CloseUSD': 2052.550049},
 {'Index': 'NYA',
  'Date': '1994-09-13',
  'Open': 2726.330078,
  'High': 2726.330078,
  'Low': 2726.330078,
  'Close': 2726.330078,
  'Adj Close': 2726.330078,
  'Volume': 0.0,
  'CloseUSD': 2726.330078},
 {'Index': '399001.SZ',
  'Date': '2005-04-01',
  'Open': 3168.780029,
  'High': 3327.350098,
  'Low': 3153.629883,
  'Close': 3284.949951,
  'Adj Close': 3284.913086,
  'Volume': 25900.0,
  'CloseUSD': 525.59199216},
 {'Index': 'NYA',
  'Date': '1982-04-14',
  'Open': 704.950012,
  'High': 704.950012,
  'Low': 704.950012,
  'Close': 704.950012,
  'Adj Close': 704.950012,
  'Volume': 0.0,
  'CloseUSD': 704.950012}]

In [10]:
try:
    while True:
        record = stock_df.sample(1).to_dict(orient = "records")
        producer.send('topic_name', value = record)

        # Delays producing the data by 20 seconds.
        time.sleep(10)

except KeyboardInterrupt:
    producer.close()

In [12]:
producer.flush()